export ALOGMON_URL={{ alogmon_url }}
export ELASTICSEARCH_URL={{ elasticsearch_url }}
export TENANTINFO_URL={{ tenantinfo_url }}
export RETENTION_TIME={{ retention_time }}
export RESTORE_RETENTION_TIME={{ restore_retention_time }}
