LSF_INSTANCE_ID="{{ target_space_id }}.{{ stack_name }}.{{ ansible_hostname }}"
LSF_TARGET="{{ target_logs }}:9091"
LSF_TENANT_ID="{{ target_space_id }}"
LSF_PASSWORD="{{ target_token }}"
LSF_GROUP_ID="{{ cluster_name }}" # stack id